* {
    box-sizing: border-box;
}

:root {
    --font-sm: 15px;
    --font-md: 18px;
    --font-xl: 25px;
    --font-defolt: 20px;

    --title-font-sm: 35px;
    --title-font-md: 50px;
    --title-font-xl: 65px;

    --font-weight: 600;

    --main-color: #000000;
    --accent-color: #FF6336;
    --secondary-color: #FFFFFF;

    --bg--main-color: #FFFFFF;
    --separator-color: #CCCCCC;
    --separator-rate-color: #1D1D1B;
    --bg-localization-color: #FF9C7D;
    --bg-localize-color: #FFF8E4;
    --bg-person-color: #C9E8F2;
    --bg-reviews-color: #DABC98;

    --btn-small-width: 120px;
    --btn--small-height: 45px;

    --btn-big-width: 160px;
    --btn--big-height: 60px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: var(--main-color);
    background-color: var(--bg--main-color);
}

a {
    font-size: var(--font-sm);
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
}

.header{
    height: 95px;
    border-bottom: 1px solid var(--separator-color);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.title {
    font-weight: var(--font-weight);
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: var(--bg--main-color);
    color: var(--main-color);
    font-size: var(--font-sm);
    font-weight: var(--font-weight);
    cursor: pointer;
}

.btn:hover{
    transition: 0.1s;
    border: 1px solid var(--accent-color);
}

.btn-small{
    width: var(--btn-small-width);
    height: var(--btn--small-height);
}

.btn-big{
    width: var(--btn-big-width);
    height: var(--btn--big-height);
}

.btn-accent{
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: 1px solid var(--accent-color);
}

.btn-accent:hover{
    transition: 0.1s;
    border: 1px solid var(--main-color);
}

/* Header-start */

.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__content-left{
    display: flex;
}

.header__content-right{
    display: flex;
    overflow: hidden;
    gap: 10px;
}

.header__content-right .btn{
    float: right;
}

.header__content-left .header__logo {
    width: 130px;
    margin-top: 34px;
    margin-right: 51px;
}

.header__content-left .header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;
    margin: 31px 0 24px;
}

.header__content-left .header__menu a {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.5s;
}

.header__content-left .header__menu a:hover {
    border: 1px solid var(--accent-color);
}

/* Header-end */

/* Main-start */
/* Introduction-start */

.introduction{
    padding: 97px 0 147px;
}

.introduction__content {
    background-image: url("./../assets/images/png/process-picture.png");
    background-repeat: no-repeat;
    background-position: right;
}

.introduction h1 {
    max-width: 552px;
    font-size: var(--title-font-xl);
    font-weight: var(--font-weight);
    margin-top: 32px;
}

.introduction p {
    max-width: 471px;
    font-size: var(--font-xl);
    margin-top: 51px;
    margin-bottom: 50px;
}

.introduction .introduction__link-info{
    font-size: var(--font-sm);
    margin-top: 25px;
}

/* Introduction-end */

/* Companies-start */

.localization{
    background-color: var(--bg-localization-color);
}

.localization__title{
    display: flex;
    justify-content: center;
    padding-top: 98px;
}

.localization__title h2{
    max-width: 400px;
    text-align: center;
}

.localization__companies{
    display: grid;
    padding-top: 70px;
    padding-bottom: 94px;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 103px;
}

.localization__companies-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Companies-end */

/* Advantages-start */

.advantages{
    margin-top: 100px;
    margin-bottom: 150px;
    padding-bottom: 50px;
}

.advantages__blocks{
    display: flex;
    flex-direction: column;
    gap: 250px;
}

.advantages__advantage{
    display: flex;
    justify-content: space-between;
    gap: 250px;
    min-height: 632px;
    background-repeat: no-repeat;
    align-content: end;
}

.advantages__picture-right{
    background-position: right;
    justify-content: left;
}

.advantages__picture-left{
    background-position: left;
    justify-content: right;
}

.advantages__advantage-1{
    background-image: url("./../assets/images/jpg/advantages-1.jpg");
}

.advantages__advantage-2{
    background-image: url("./../assets/images/jpg/advantages-2.jpg");
}

.advantages__advantage-3{
    background-image: url("./../assets/images/jpg/advantages-3.jpg");
}

.advantages__advantage-4{
    background-image: url("./../assets/images/jpg/advantages-4.jpg");
}

.advantages__content{
    max-width: 658px;
}

.advantages__btn{
    font-weight: var(--font-weight);
    font-size: var(--font-defolt);
    text-decoration: none;
}

.link-underline {
    font-size: var(--font-defolt);
    text-decoration: underline;
}

.advantages h2, p, a{
    max-width: 510px;
}

.advantages h2 {
    margin-top: 151px;
}

.advantages p {
    margin-top: 30px;
    margin-bottom: 36px;
}

/* Advantages-end */

/* Localize-start */

.localize{
    background-color: var(--bg-localize-color);
    padding-bottom: 93px;
}

.localize__title{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 58px;
}

.localize__lokalise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 110px;
    row-gap: 57px;
}

.localize__lokalise-image {
    display: flex;
    justify-content: center;
}

.localize__lokalise-title {
    display: flex;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 20px;
}

.localize__lokalise-description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-md);
}

/* Localize-end */

/* Boost-start */

.boost{
    padding-top: 154px;
    padding-bottom: 187px;
}

.boost__title{
    padding-bottom: 25px;
}

.boost__teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.boost__teams-image {
    margin-top: 50px;
    margin-bottom: 49px;
    min-height: 201px;
}

.boost__teams-title {
    margin-top: 49px;
    margin-bottom: 34px;
}

.boost__teams-description {
    margin-bottom: 25px;
    font-size: var(--font-defolt);
    max-width: 409px;
}

/* Boost-end */

/* Person-start */

.person{
    background-color: var(--bg-person-color);
    height: 468px;
}

.person__content{
    display: flex;
    flex-wrap: wrap;
    padding: 43px 0 105px;
}

.person__content-description{
    width: 800px;
}

.person__content-blockquote{
    font-size: var(--font-xl);
}

.person__content-author{
    font-size: var(--font-sm);
    margin-top: 23px;
    margin-bottom: 7px;
}

.person__content-image{
    margin-left: auto
}

/* Person-end */

/* Reviews-start */

.reviews{
    background-color: var(--bg-reviews-color);
}

.reviews__content{
    display: flex;
    padding-top: 79px;
    padding-bottom: 80px;
}

.reviews__content-description{
    display: flex;
    width: 809px;
    border-right: 2px solid var(--separator-rate-color);
}

.reviews__content-item{
    width: 50%;
}

.reviews__content-text{
    font-size: var(--font-xl);
    max-width: 461px;
    padding: 47px 0 31px 67px;
}

.reviews__content-rate{
    display: flex;
    width: 481px;
    padding: 30px 62px 22px 71px;
}

.reviews__content-logo{
    padding-top: 30px;
    padding-bottom: 20px;
}

.reviews__content-stars{
    padding-bottom: 14px;
}

.reviews__content-info{
    font-size: var(--font-sm);
}

/* Reviews-end */

/* Main-end */

/*
 breakpoints
 xxl - 1300px
 xl - 992px
 md - 768px
 sm - 576px
*/

@media (max-width: 1300px) {
    .container {
        max-width: 992px;
    }
    .introduction__content {
        background-size: 470px;
    }
    .header__content-left .header__menu {
        gap: 12px;
        margin: 31px 0 24px;
    }
    .introduction{
        padding: 50px 0 80px;
    }
    .advantages{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .advantages__blocks{
        gap: 0;
    }
    .advantages__advantage{
        gap: 150px;
        background-size: 460px;
    }
    .localize{
    padding-bottom: 30px;
    }
    .localize__title{
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .localize__lokalise-description a {
        font-size: var(--font-md);
    }
    .boost{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .boost__title{
        padding-bottom: 5px;
    }
    .boost__teams{
        column-gap: 20px;
    }
    .person{
        height: 400px;
    }
    .person__content-description{
        width: 600px;
    }
    .reviews__content-image{
        display: flex;
        align-items: center;
    }
    .reviews__content{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .reviews__content-item{
        width: 50%;
    }
    .reviews__content-text{
        max-width: 600px;
    }
    .reviews__content-rate{
        display: flex;
        width: 581px;
        padding: 30px 32px 15px 41px;
    }
    .reviews__content-logo{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .reviews__content-stars{
        padding-bottom: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
    .introduction__content {
        background-image: none;
    }
    .header__content-left .header__menu{
        display: none;
    }
    .header__content-right{
        padding-top: 25px;
    }
    .introduction{
        padding: 0 0 40px;
    }
    .introduction h1{
        max-width: 800px;
        font-size: var(--title-font-md);
    }
    .introduction p{
        max-width: 600px;
    }
    .localization__title{
        padding-top: 28px;
    }
    .localization__companies{
        padding-top: 50px;
        padding-bottom: 50px;
        column-gap: 50px;
    }
    .advantages{
        margin-top: 0;
        margin-bottom: 0;
    }
    .advantages__blocks{
        gap: 50px;
    }
    .advantages__advantage{
        gap: 50px;
        min-height: 200px;
    }
    .advantages__picture-left{
        background-position: right;
        justify-content: left;
    }
    .advantages__advantage-1{
        background-image: none;
    }
    .advantages__advantage-2{
        background-image: none;
    }
    .advantages__advantage-3{
        background-image: none;
    }
    .advantages__advantage-4{
        background-image: none;
    }
    .advantages h2, p, a{
        margin-top: 50px;
        max-width: 910px;
    }
    .advantages__blocks{
        gap: 0;
    }
    .localize__lokalise{
        column-gap: 60px;
        row-gap: 50px;
    }
    .boost{
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .boost__teams-title {
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .boost__teams-description {
        font-size: var(--font-md);
    }
    .link-underline{
        font-size: var(--font-md);
    }
    .person{
        height: 350px;
    }
    .person__content-blockquote{
        font-size: var(--font-md);
    }
    .person__content-description{
        width: 400px;
    }
    .person img{
        max-width: 80%;
    }
    .reviews__content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .reviews__content-text{
        max-width: 300px;
        font-size: var(--font-md);
        padding: 10px 20px 30px 40px;
    }
    .reviews__content-rate{
        width: 620px;
        padding: 20px 0 5px 31px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }
    header nav {
        display: none;
    }
    .introduction__content {
        background-image: none;
    }
    .introduction h1{
        max-width: 500px;
        font-size: var(--title-font-sm);
    }
    .introduction p{
        max-width: 550px;
    }
    .localization__title{
        padding-top: 28px;
    }
    .localization__companies{
        padding-top: 40px;
        padding-bottom: 50px;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 50px;
        row-gap: 40px;
    }
    .localize{
        padding-bottom: 10px;
    }
    .localize__title{
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: var(--font-md);
    }
    .localize__lokalise{
        column-gap: 30px;
        row-gap: 30px;
    }
    .localize__lokalise-title {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: var(--font-sm);
    }
    .localize__lokalise-description  {
        font-size: var(--font-sm);
    }
    .localize__lokalise-description a {
        font-size: var(--font-sm);
    }
    .boost{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .boost__title{
        padding-bottom: 0;
    }
    .boost__teams-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .boost__teams-description {
        margin-bottom: 5px;
        font-size: var(--font-sm);
        margin-top: 20px;
    }
    .boost__teams-description a{
        font-size: var(--font-sm);
    }
    .person{
        height: 350px;
    }
    .person__content{
        padding: 23px 0 55px;
        flex-wrap: nowrap;
    }
    .person__content-description{
        width: 450px;
    }
    .person__content-blockquote{
        font-size: var(--font-md);
    }
    .person img{
        max-width: 100%;
    }
    .person__content-image{
        padding-left: 30px;
    }
    .reviews__content-text{
        font-size: var(--font-sm);
        padding: 0 20px 30px 40px;
    }
    .reviews__content-info{
        font-size: 12px;
    }
    .reviews__content-logo{
        height: 60px;
        padding-right: 20px;
    }
    .reviews__content-stars{
        padding-right: 20px;
    }
}

@media (max-width:  576px) {
    .container {
        max-width: 100%;
    }
}


